<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Cupcakes</title>
</head>
<body>
    <!-- <h1 class="heading 1">Cupcakes</h1>
    <div class="table">
    <table>
        <thead>
            <th>Flavor</th>
            <th>Size</th>
            <th>Rating</th>
            <th>Image</th>
        </thead>
        {% for cupcake in cupcakes %}
        <tr>
        <td id="flavor">{{cupcake.flavor}}</td>
        <td id="size">{{cupcake.size}}</td>
        <td id="rating">{{cupcake.rating}}</td>
        <td id="image"><img src="{{cupcake.image}}" alt="(No Image Here)" width="100" height="100"></td>
        </tr>
        {% endfor %}
    </table>
    </div> -->

    <div class="container">
        <h1>Cupcakes!</h1>
        <ul id="cupcakes-list">
        </ul>

    </div>

    <div>
        <h2>Add a Cupcake</h2>
        <form action="" method="post" id="new-cupcake">
            <input type="text" id="form-flavor" name="flavor">
            <label for="flavor">Flavor</label><br>
            <input type="text" id="form-size" name="size">
            <label for="size">Size</label><br>
            <input type="text" id="form-rating" name="rating">
            <label for="rating">Cupcake Rating</label><br>
            <input type="text" id="form-image">
            <label for="image">Enter Cupcake Image</label><br>
            <button >Add Cupcake!!</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="static/app.js"></script>
</body>
</html>